<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="horizonIP" value="192.168.101.70"/>
    <add key="horizonID" value="administrator"/>
    <add key="horizonPW" value="namudev!23$"/>
    <add key="horizonProtocol" value="https"/>
    <add key="horizonUser" value="namurnd\jewook"/>
    <add key="SessionID" value="namurnd\administrator"/>
    <add key="horizonDomain" value="namurnd.io"/>
    <add key="vCenterIP" value="192.168.50.16"/>
    <add key="vCenterID" value="administrator@vsphere.local"/>
    <add key="vCenterPW" value="P@$$w0rd"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
